form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  width: 70%;
  padding: 3%;
}

.characterList img {
  width: 100%;
  padding: 0;
  padding-bottom: 1.5%;
}

.character-list {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.row {
  justify-content: center;
}

.container .row .characterList {
  margin: 3%;
  width: 100%;
}