form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  width: 70%;
  padding: 3%;
  box-shadow: 0 18px 30px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.characterList img {
  width: 100%;
  padding: 0;
  padding-bottom: 1.5%;
  box-shadow: none;
}

.character-list {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.row {
  justify-content: center;
}

.container .row .characterList {
  margin: 3%;
  width: 100%;
}

.container .row .characterList .card {
  box-shadow: 0 18px 39px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}